.button {
    padding: 1rem 1.5rem;
    background-color: #2DAFD8;
    color: white;
    border: 0;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3.5rem;
}

.button_outline {
    border: 3px solid #85dffa; 
    background-color: transparent;
    color: #85dffa;
}

.button:hover {
    cursor: pointer;
    background-color: #1C86A8;
    transition: all 250ms;
}

.button_outline:hover {
    cursor: pointer;
    background-color: white;
    border: none;
    color: #2DAFD8;
    transition: all 250ms;
}