.container {
  position: relative;
}

.user_profile_container {
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  height: 3rem;
  background-color: #394b51;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.user_profile_container:hover {
  background-color: #2d3a3f;
  transition: all 0.25s;
  cursor: pointer;
}

.display_picture {
  height: 2rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.display_name {
  font-size: 1rem;
  color: white;
}

.dropdown_content {
  background-color: #394b51;
  padding: 1rem;
  border-radius: 1rem;

  box-shadow: 3px 9px 27px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 9px 27px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 9px 27px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_content_padding {
  display: none;
  position: absolute;
  min-width: fit-content;
  right: 0.125rem;
  z-index: 1;
  padding-top: 1.25rem;
}

.dropdown_item {
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.dropdown_item a {
  width: 100%;
  white-space: nowrap;
}

.dropdown_item_icon {
  margin-right: 0.75rem;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  color: white;
}

.dropdown_item_icon_red {
  margin-right: 0.75rem;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  color: #fc6d6d;
}

.drowdown_content_link {
  color: white;
  text-decoration: none;
}

.dropdown_content_logout {
  color: #fc6d6d;
  width: 100%;
  white-space: nowrap;
}

.dropdown_item:hover {
  background-color: #2d3a3f;
  cursor: pointer;
}

.container:hover .dropdown_content_padding {
  display: block;
}
