.navbar_container {
    height: 5.5rem;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_button {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}