.navbar_container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5rem;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #1f2a34;
}

.menu_button {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}
