.input_large {
    display: block;
    margin: 0 auto;
    height: 4rem;
    width: 75%;
    border: 0;
    border-radius: 1.5rem;
    background-color: #383F45;
    font-size: 1.25rem;
    padding-left: 2rem;
    color: white
}

.input_large:focus {
    outline: none;
}

::placeholder {
    color: #73808a;
}